In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["person@example.com", 'jane@example.com', 'john@example.com']
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe    john@example.com

In [19]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [20]:
df.columns = ['first_name', 'last_name', 'email']

In [22]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [23]:
df

  first_name last_name               email
0      Corey   Schafer  person@example.com
1       Jane       Doe    jane@example.com
2       John       Doe    john@example.com

In [24]:
df.columns = [x.upper() for x in df.columns]

In [25]:
df

  FIRST_NAME LAST_NAME               EMAIL
0      Corey   Schafer  person@example.com
1       Jane       Doe    jane@example.com
2       John       Doe    john@example.com

In [30]:
df.columns = df.columns.str.replace(' ', '_')

In [31]:
df

  FIRST_NAME LAST_NAME               EMAIL
0      Corey   Schafer  person@example.com
1       Jane       Doe    jane@example.com
2       John       Doe    john@example.com

In [32]:
df.columns = [x.lower() for x in df.columns]

In [33]:
df

  first_name last_name               email
0      Corey   Schafer  person@example.com
1       Jane       Doe    jane@example.com
2       John       Doe    john@example.com

In [34]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

In [35]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe    john@example.com

In [36]:
df.loc[2]

first                John
last                  Doe
email    john@example.com
Name: 2, dtype: object

In [37]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

In [38]:
df

   first     last                email
0  Corey  Schafer   person@example.com
1   Jane      Doe     jane@example.com
2   John    Smith  JohnSmith@email.com

In [40]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']

In [41]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe   JohnDoe@email.com

In [42]:
df.loc[2, 'last'] = 'Smith'

In [43]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John    Smith   JohnDoe@email.com

In [44]:
df.at[2, 'last'] = 'Doe'

In [45]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe   JohnDoe@email.com

In [47]:
df['email'] = df['email'].str.lower()

In [48]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe   johndoe@email.com

In [49]:
df['email'].apply(len)

0    18
1    16
2    17
Name: email, dtype: int64

In [50]:
def update_email(email):
    return email.upper()

In [51]:
df['email'].apply(update_email)

0    PERSON@EXAMPLE.COM
1      JANE@EXAMPLE.COM
2     JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [52]:
df['email'] = df['email'].apply(update_email)

In [53]:
df

   first     last               email
0  Corey  Schafer  PERSON@EXAMPLE.COM
1   Jane      Doe    JANE@EXAMPLE.COM
2   John      Doe   JOHNDOE@EMAIL.COM

In [54]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [55]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe   johndoe@email.com

In [58]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [57]:
len(df['email'])

3

In [59]:
df.apply(pd.Series.min)

first               Corey
last                  Doe
email    jane@example.com
dtype: object

In [60]:
df.apply(lambda x: x.min())

first               Corey
last                  Doe
email    jane@example.com
dtype: object

In [61]:
df.applymap(len)

   first  last  email
0      5     7     18
1      4     3     16
2      4     3     17

In [62]:
df.applymap(str.lower)

   first     last               email
0  corey  schafer  person@example.com
1   jane      doe    jane@example.com
2   john      doe   johndoe@email.com