In [12]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["person@example.com", 'jane@example.com', 'john@example.com']
}

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame(people)

In [15]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe    john@example.com

In [16]:
df.set_index('email', inplace=True)

In [17]:
df.index

Index(['person@example.com', 'jane@example.com', 'john@example.com'], dtype='object', name='email')

In [21]:
df.iloc[0]

first      Corey
last     Schafer
Name: person@example.com, dtype: object

In [22]:
df.reset_index(inplace=True)

In [23]:
df

                email  first     last
0  person@example.com  Corey  Schafer
1    jane@example.com   Jane      Doe
2    john@example.com   John      Doe