In [3]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "person@example.com"
}

In [4]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email": ["person@example.com"]
}

In [5]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["person@example.com", 'jane@example.com', 'john@example.com']
}

In [6]:
people['email']

['person@example.com', 'jane@example.com', 'john@example.com']

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(people)

In [9]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe    john@example.com

In [10]:
df['email']

0    person@example.com
1      jane@example.com
2      john@example.com
Name: email, dtype: object

In [12]:
df.email

0    person@example.com
1      jane@example.com
2      john@example.com
Name: email, dtype: object

In [13]:
df[['last', 'email']]

      last               email
0  Schafer  person@example.com
1      Doe    jane@example.com
2      Doe    john@example.com

In [14]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [19]:
df.iloc[[0, 1], 2]

0    person@example.com
1      jane@example.com
Name: email, dtype: object

In [20]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe    john@example.com

In [22]:
df.loc[[0, 1], ['email', 'last']]

                email     last
0  person@example.com  Schafer
1    jane@example.com      Doe