In [2]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["person@example.com", 'jane@example.com', 'john@example.com']
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last               email
0  Corey  Schafer  person@example.com
1   Jane      Doe    jane@example.com
2   John      Doe    john@example.com

In [9]:
filt = (df['last'] == 'Doe')

In [11]:
df[filt]

  first last             email
1  Jane  Doe  jane@example.com
2  John  Doe  john@example.com